/* font Families */
@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Root styles */
:root {
  --primary-color: ;
  --secondary-color: #1d1d1d;

  --animation: animation 0.8s ease forwards;
}

/* must styles */
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  scroll-behavior: smooth;
  font-family: "Lato", sans-serif;
}

/******************** repeated elements ***************/

.nav-pills .nav-item .nav-link.active {
  background-color: var(--secondary-color);
  color: #eee;
}

.nav-pills .nav-item .nav-link {
  color: var(--secondary-color);
}

.w100 {
  width: 100% !important;
}

section {
  width: 100%;
  max-height: auto;
  min-height: 100vh;
}

.d-flex {
  overflow: hidden;
}

@keyframes animation {
  100% {
    opacity: 1;
    transform: none;
  }
}

/**************************************************** loader funtion *******************************************************/

/********************************************** section elements ********************************************/

/* Nav Section */

h1.navbar-brand {
  font-size: 1.5rem;
}

a.nav-link {
  color: var(--secondary-color) !important;
  font-size: 1.2rem;
  margin-right: 2rem;
  position: relative;
  cursor: pointer;
}

a.nav-link::before {
  content: "";
  display: block;
  position: absolute;
  bottom: -0.1rem;
  width: 100%;
  transform: translateY(0.1rem);
  opacity: 0;
  height: 2px;
  transition: all 0.4s ease;
  background-color: var(--secondary-color);
}

a.nav-link:hover::before {
  transform: none;
  opacity: 1 !important;
}

.hamburgerCont {
  display: none !important;
  visibility: hidden !important;
}

.hamburger {
  width: 30px;
  height: 22px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;
}

.hamburger span {
  height: 4px;
  width: 100%;
  background-color: #333;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(5px, 5px);
}

.hamburger.active span:nth-child(2) {
  opacity: 0;
}

.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(6px, -6px);
}

/* main section */

.col1Item {
  display: flex;
  justify-content: flex-end;
}

.mainImg {
  width: clamp(300px, 100%, 350px);
  margin: 0 auto;
  margin-bottom: 0 !important;
  transform: scale(0.4);
  opacity: 0;
  animation: var(--animation);
  animation-delay: 0.3s;
}

.col2Item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.col2Item p,
.col2Item h1,
.col2Item h2,
.col2Item .btnCont,
.col2Item .iconCont {
  transform: translateY(-1rem);
  opacity: 0;
  animation: animation 0.8s cubic-bezier(0.25, 0.1, 0.48, 1.55) forwards;
}

.col2Item p {
  animation-delay: 0.3s;
}

.col2Item h1 {
  animation-delay: 0.4s;
}

.col2Item h2 {
  animation-delay: 0.5s;
}

.col2Item .btnCont {
  animation-delay: 0.6s;
}

.col2Item .iconCont {
  animation-delay: 0.7s;
}

.iconCont {
  display: flex;
  width: 100%;
  margin-top: 1.2rem;
  justify-content: center;
}

.iconLink {
  width: 2rem;
  height: 2rem;
  border-radius: 50px;
  color: white;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
}

.iconLink:hover i {
  color: white;
}

.iconLink:first-child {
  margin-right: 0.5rem;
}

/**************** about section *************************/

#about .row.mt-5 .row {
  display: flex;
  justify-content: space-between;
  width: 100%;
  flex-direction: row;
}

.aboutImgCont {
  opacity: 0;
  transform: translateY(-2rem);
}

.aboutImgCont.visible {
  animation: var(--animation);
}

.aboutCont {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  align-items: center;
}

.aboutSmCont {
  width: 47%;
  opacity: 0;
  transform: translateY(-2rem);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-flow: column nowrap;
  border: 1px solid var(--secondary-color);
  border-radius: 20px;
  padding: 0.8rem;
}

.aboutSmCont.visible {
  animation: var(--animation);
}

.aboutText {
  opacity: 0;
  transform: translateY(-2rem);
}

.visible .aboutText {
  animation: var(--animation);
}

.aboutSmCont i {
  font-size: 2.2rem;
}

.aboutSmCont:first-child {
  margin-right: 1rem;
}

/********************** experience section *****************************/

.exContCol {
  border-radius: 20px;
  padding: 1rem;
  border: 1px solid black;
  transform: translateY(-2rem);
  opacity: 0;
}

.exContCol.visible {
  animation: var(--animation);
}

.exSmCont {
  padding: 1rem;
  display: flex;
  flex-flow: row;
  justify-content: center;
  align-items: center;
}

.exSmCont i {
  font-size: 1.2rem;
  margin-right: 1rem;
}

.exSmCont div h2 {
  font-size: 1.2rem;
  margin-bottom: 0;
  font-weight: bold;
}

.exSmCont div p {
  margin-bottom: 0;
}

/*********************************** project section **************************/

.nav-pills {
  opacity: 0;
  transform: translateY(-2rem);
}

.nav-pills.visible {
  animation: var(--animation);
}

.col-sm-10.animate {
  opacity: 0;
  transform: translateY(-2rem);
}

.col-sm-10.animate.visible {
  animation: var(--animation);
}

.card {
  border-radius: 20px;
  border: 1px solid black;
}

.card-img-top {
  border-radius: 20px;
  height: 180px;
}

.card-body .btn.btn-sm {
  border-radius: 20px;
  padding: 0.4rem 1.2rem;
}
.card-title {
  font-size: 1.4rem;
  font-weight: bold;
  margin-bottom: 0.8rem;
}

/* Contact section */

.contact {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contactBox {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid black;
  border-radius: 20px;
  width: fit-content;
  margin: auto;
  opacity: 0;
  transform: translateY(-2rem);
}

.contactBox.visible {
  animation: var(--animation);
}

.contactBtn {
  font-size: 1.2rem;
  text-decoration: none;
  color: var(--secondary-color);
  cursor: pointer;
  color: var(--secondary-color);
}

.contactBtn:hover {
  color: black;
}

.contactBtn:first-child {
  margin-right: 1rem;
}

footer {
  position: absolute;
  bottom: 0;
}

.footerLink {
  display: block;
  margin: 0 1rem 0.5rem;
  text-decoration: none;
  color: var(--secondary-color);
  cursor: pointer;
  font-size: 1.2rem;
}

.footerLink:hover {
  color: black;
}

footer div p {
  margin: 0.5rem auto 1.5rem;
}

/************ responsive section ****************/

@media screen and (max-width: 768px) {
  .hamburgerCont {
    display: flex !important;
    justify-content: center;
    visibility: visible !important;
    position: relative;
    z-index: 1;
  }

  #navItemCont {
    display: none;
    visibility: hidden;
  }

  #navItemCont.activeNav {
    display: flex;
    visibility: visible;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    justify-content: center;
    align-items: center;
    flex-direction: column !important;
  }

  #navItemCont.activeNav::before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1;
    background-color: grey;
  }

  #navItemCont.activeNav a.nav-link {
    font-size: 1.6rem;
    margin-right: 0;
    text-decoration: none;
    position: relative;
    width: 100%;
    text-align: center;
    margin-bottom: 2rem;
    z-index: 111;
  }

  #navItemCont.activeNav a.nav-link:hover::before {
    opacity: 0 !important;
    transform: none;
  }

  #navItemCont.activeNav a.nav-link::after {
    content: attr(data-text);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(0.5);
    font-size: 5rem;
    color: rgba(0, 0, 0, 0.1);
    white-space: nowrap;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
  }

  #navItemCont.activeNav a.nav-link:hover::after {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }

  /* main section */
  .aboutCont {
    flex-direction: column !important;
  }

  .aboutSmCont {
    width: 22rem !important;
    margin-bottom: 1rem;
  }

  .aboutSmCont:first-child {
    margin-right: 0;
  }

  .aboutText {
    text-align: center !important;
  }

  /* experience section */
}

/* phone view */

@media screen and (width <= 576px) {
  .col1Item {
    margin-bottom: 1.6rem;
  }

  .col-md-10.col-lg-4.p-0.text-center.mb-sm-3 {
    margin-bottom: 1.2rem;
  }

  /* experience section */

  .experience .container-lg {
    padding: 0 2rem;
  }

  .experience .container-lg .exContRow .exContCol:first-child {
    margin-bottom: 1rem;
  }

  /* project Section */

  /* #pills-tab .nav-item .nav-link {
    font-size: 0.8rem !important;
    padding: 0.5rem;
  } */
}
